body {
  margin: 0;
  background: #c7c7c7;
}

td,
p {
  font-size: 13px;
  color: #878787;
}

ul {
  margin: 0 0 10px 25px;
  padding: 0;
}

li {
  margin: 0 0 3px 0;
}

h1,
h2 {
  color: black;
}

h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 20px;
}

a {
  color: #2f82de;
  font-weight: bold;
  text-decoration: none;
}

.entire-page {
  width: 100%;
  padding: 20px 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 1.5;
}

.email-body {
  max-width: 600px;
  min-width: 320px;
  margin: 0 auto;
  background: white;
  border-collapse: collapse;
}
.email-body img {
  max-width: 100%;
}

.email-header {
  background: #00ff6c;
  padding: 30px;
  color: black;
}

.news-section {
  padding: 20px 30px;
}

.footer {
  background: #eee;
  padding: 10px;
  font-size: 10px;
  text-align: center;
}
